<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PSAP.Properties.Settings.PSAPConnectionString" connectionString="Data Source=IT-SONGXI;Initial Catalog=PSAP;Persist Security Info=True;User ID=sa;Password=rongda83717906"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>